src/main/mule/mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2af2db79-df0e-4d43-a58e-a4bdae8ecf25" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleFlow" doc:id="a1f84728-011a-404d-bc52-1d3576dfe0e4" >
		<http:listener doc:name="Listener" doc:id="dfe5633c-8723-48cc-9b99-82229b907138" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="aa77c80b-cb4b-4104-95fe-3f7c5d449e7d" message='#["this is new hello world programme"]'/>
		<set-payload value='"this is new hello world programme"' doc:name="Set Payload" doc:id="7cd3fb49-e565-4445-bf02-1af3ee54aa4f" />
	</flow>
</mule>
